---
permalink: /cfp
layout: home
---
    <!-- Begin template wrapper -->
    <div id="wrapper" class="hasbg transparent">
        <div class="header_style_wrapper">
            <!-- End top bar -->
            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">
                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="./">
                                    <img src="assets/images/logo-white.png" alt="" width="150" height="32">
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="./">
                                    <img src="assets/images/logo.png" alt="" width="150" height="32">
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->
                        {% include menu.html %}
                    </div>
                </div>
            </div>
        </div>

        <div id="page_caption">
            <div class="page_title_wrapper">
                <div class="standard_wrapper">
                    <div class="page_title_inner">
                        <div class="page_title_content">
                            <h1>CFPフォーム</h1>
                            <div class="page_tagline">
                                あなたのDevRelに関する経験、知見、知識をぜひ共有してください！<br />
                                <strong>注意点：</strong>
                                <ul>
                                    <li>宣伝色が強いものは確実に拒否されます</li>
                                    <li>新規性がないものは拒否されやすいです</li>
                                    <li>他者をおとしめるもの、攻撃的なものも拒否されるでしょう</li>
                                    <li>なぜ、あなたがその話をするのに相応しいかを検討してください</li>
                                    <li>登壇内容は後日オンラインで公開されます。企業内の機密情報は公開しないでください</li>
                                    <li>一人いくつでも送れます。ただし通過するのは一つのみです</li>
                                    <li>登壇者はあなた一人です。複数人での登壇、登壇者の交代は認められません</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="ppb_wrapper  ">
            <div class="one withsmallpadding ppb_contact_box " style="text-align:center;margin-bottom:100px;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div class="inner_box parallax" style="width:60%;margin:auto;background:#ffffff;border:10px solid #ff2d54;padding:50px;" data-stellar-ratio="1.2">
                                <h2 class="ppb_title" style="color:#000000;">プロポーザルを書く</h2>
                                <div class="page_tagline">*があるものは必須です</div>
                                <div class="contact_form7_wrapper">
                                    <div role="form" class="wpcf7" id="wpcf7-f5-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                            <form class="quform cfp">
                                                <div class="quform-elements">
                                                    <div class="quform-element">
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap your-name">
                                                            <input id="name" type="text" name="name" size="40" class="input1 remember" aria-required="true" aria-invalid="false" placeholder="名前*" required>
                                                        </span> 
                                                    </div>
                                                    <div class="quform-element">
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap your-name">
                                                            <input id="company" type="text" name="company" size="40" class="input1 remember" aria-required="true" aria-invalid="false" placeholder="企業/団体名*" required>
                                                        </span> 
                                                    </div>
                                                    <div class="quform-element">
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap your-name">
                                                            <input id="your_title" type="text" name="your_title" size="40" class="input1 remember" aria-required="true" aria-invalid="false" placeholder="肩書き">
                                                        </span> 
                                                    </div>
                                                    <div class="quform-element">
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap your-email">
                                                            <input id="email" type="text" name="email" size="40" class="input1 remember" aria-required="true" aria-invalid="false" placeholder="メールアドレス*" required>
                                                        </span> 
                                                    </div>
                                                    <div class="quform-element">
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap your-email">
                                                            <input id="title" type="text" name="title" size="40" class="input1 remember remove" aria-required="true" aria-invalid="false" placeholder="セッションタイトル*" required>
                                                        </span> 
                                                    </div>
                                                    <div class="quform-element">
                                                        
                                                            <br>
                                                            <span class="wpcf7-form-control-wrap your-message">
                                                                <textarea  id="summary" name="summary" cols="40" rows="5" class="input1 remember remove" aria-invalid="false" placeholder="セッション概要*" required></textarea>
                                                            </span>
                                                        
                                                    </div>
                                                    <div class="quform-element">
                                                        
                                                        <br>
                                                        <span class="wpcf7-form-control-wrap your-message">
                                                            <textarea  id="description" name="description" cols="40" rows="10" class="input1 remember remove" aria-invalid="false" placeholder="セッション詳細（Markdownが使えます）*" required></textarea>
                                                        </span>
                                                    
                                                </div>
                                                <div class="quform-element">
                                                    <br>
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea  id="note" name="note" cols="40" rows="5" class="input1 remember remove" aria-invalid="false" placeholder="追記事項があれば"></textarea>
                                                    </span>
                                                
                                            </div>
                                            
                                                    <!-- Begin Submit button -->
                                                    <div class="quform-submit">
                                                        <div id="15738992061086418370" class="alert_box success hide"><i class="fa fa-flag alert_icon"></i>
                                                            <div class="alert_box_msg">
                                                                プロポーザルを提出しました！
                                                            </div>
                                                            <a href="#" class="close_alert" data-target="15738992061086418370">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </div>
                                                        <div id="15738992061086418371" class="alert_box error hide"><i class="fa fa-flag alert_icon"></i>
                                                            <div class="alert_box_msg">
                                                                エラーが発生しました。しばらくお待ちください。
                                                            </div>
                                                            <a href="#" class="close_alert" data-target="15738992061086418371">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </div>
                                                        <div class="quform-submit-inner">
                                                            <button type="submit" class="submit-button"><span>CFPを送る（作成中）</span></button>
                                                        </div>
                                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                                    </div>
                                                    
                                                </div>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}