---
layout: home
---

    <!-- Begin template wrapper -->
    <div id="wrapper" class="hasbg transparent">
        <div class="header_style_wrapper">
            <!-- End top bar -->
            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="./">
                                    <img src="assets/images/logo.png" alt="" width="150" height="32">
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="./">
                                    <img src="assets/images/logo-white.png" alt="" width="150" height="32">
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->
                        {% include menu.html %}
                    </div>
                </div>
            </div>
        </div>

        <div class="ppb_wrapper  ">
            {% include header.html %}
            {% include about.html %}
            {% include point.html %}
            {% comment %}
            {% include schedule.html %}
            {% include speakers.html %}
            {% endcomment %}
            {% include sponsors.html %}
            {% include organizers.html %}
        </div>
        {% include footer.html %}
