---
layout: home
---

    <!-- Begin template wrapper -->
    <div id="wrapper" class="hasbg transparent">
        <div class="header_style_wrapper">
            <!-- End top bar -->
            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="./">
                                    <img src="assets/images/logo.png" alt="" width="150" height="32">
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="./">
                                    <img src="assets/images/logo-white.png" alt="" width="150" height="32">
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->
                        {% include menu.html %}
                    </div>
                </div>
            </div>
        </div>

        <div class="ppb_wrapper  ">
            {% include header.html %}
            {% include about.html %}
            {% include point.html %}
            {% comment %}
            {% include schedule.html %}
            {% include speakers.html %}
            {% endcomment %}
            <div class="one withsmallpadding ppb_header_youtube withbg parallax" data-jarallax-video="https://youtu.be/magS9nxvUWU?t=680" style="text-align:center;padding:100px 0 100px 0;color:#ffffff;">
                <div class="overlay_background" style="background:#000000;background:rgb(0,0,0,0.5);background:rgba(0,0,0,0.5);"></div>
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                              <h2 class="ppb_title" style="text-align:center;">プロポーザル募集中！</h2>
                              <div class="page_tagline" style="color:#ffffff;;text-align:center;">
                                  8月末までプロポーザル（登壇希望）を受付中です。あなたのDevRelに関する体験、知識、経験をお話ししませんか？
                              </div>
                              <div class="ppb_header_content">
                                  <div id="clock1573568515278500141" data-date="2021-08-31"></div>
                              </div>
                                <div class="ppb_header_content">
                                    <p><a class="button medium" href="./cfp">プロポーザルを送る</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include sponsors.html %}
            {% include organizers.html %}
        </div>
        {% include footer.html %}
