<div class="one withsmallpadding ppb_header " style="padding-bottom:40px !important;text-align:left;padding:70px 0 70px 0;background-color:#000000;color:#ffffff;">
  <div class="standard_wrapper">
      <div class="page_content_wrapper">
          <div class="inner">
              <div style="margin:auto;width:70%">
                  <h2 class="ppb_title" style="color:#ffffff;;text-align:left;">カンファレンスについて</h2>
                  <div class="ppb_header_content">
                      <p>
                        DevRel/Japan CONFERENCEはDevRel Meetup in Tokyoによるコミュニティ主催のカンファレンスです。日本語セッションのみで開催されます。<br />
                        DevRel Meetup in Tokyoは2015年9月よりはじまった日本唯一のDevRel（Developer Relations）に関するコミュニティです。DevRelに関する情報共有、認知度向上を目指して活動しています。
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="one withsmallpadding ppb_text" style="padding-top:0px !important;text-align:left;padding:40px 0 40px 0;background-color:#000000;color:#ffffff !important;">
  <div class="standard_wrapper">
      <div class="page_content_wrapper">
          <div class="inner">
              <div style="margin:auto;width:70%">
                  <div class="one_third ">
                      <p>
                          <strong>場所</strong>
                          <br> オンライン
                      </p>
                  </div>
                  <div class="one_third ">
                      <p>
                          <strong>日時</strong>
                          <br> 11月13日(土)
                      </p>
                  </div>
                  <div class="one_third last ">
                    <!--
                      <a class="button" href="#">View Speakers</a>
                    -->
                  </div>
                  <p>
                      <br class="clear">
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
