<div class="header_style_wrapper">
  <!-- End top bar -->

  <div class="top_bar ">
      <div class="standard_wrapper">
          <!-- Begin logo -->
          <div id="logo_wrapper">

              <div id="logo_normal" class="logo_container">
                  <div class="logo_align">
                      <a id="custom_logo" class="logo_wrapper default" href="/japan-2021/">
                        <img src="/japan-2021/assets/images/logo.png" alt="" width="158" />
                      </a>
                  </div>
              </div>

              <div id="logo_transparent" class="logo_container">
                  <div class="logo_align">
                      <a id="custom_logo_transparent" class="logo_wrapper hidden" href="/japan-2021/">
                        <img src="/japan-2021/assets/images/logo.png" alt="" width="158" />
                      </a>
                  </div>
              </div>
              <!-- End logo -->

              <div id="menu_wrapper">
                  <div id="nav_wrapper">
                      <div class="nav_wrapper_inner">
                          <div id="menu_border_wrapper">
                              <div class="menu-main-menu-container">
                                  <ul id="main_menu" class="nav">
                                    <li class="menu-item current-menu-item menu-item-has-children"><a href="./">Home</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="./#speakers">スピーカー</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="./#sponsors">スポンサー</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="./#organizers">運営メンバー</a>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                      <!-- Begin right corner buttons -->
                      <div id="logo_right_button">

                          <a href="https://devrel.connpass.com/event/226870/" id="get_ticket" class="button ghost">参加する！</a>

                          <!-- Begin side menu -->
                          <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                          <!-- End side menu -->

                      </div>
                      <!-- End right corner buttons -->
                  </div>
                  <!-- End main nav -->
              </div>

          </div>
      </div>
  </div>
</div>
