    <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                    <li class="menu-item current-menu-item menu-item-has-children"><a href="./">Home</a>
                      <!--
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="index-2.html">Home 1 – Classic Conference</a></li>
                            <li class="menu-item"><a href="home-2-registration-form.html">Home 2 – Registration Form</a></li>
                            <li class="menu-item"><a href="home-3-alternative-conference.html">Home 3 – Alternative Conference</a></li>
                            <li class="menu-item"><a href="home-4-alternative-2-conference.html">Home 4 – Alternative 2 Conference</a></li>
                        </ul>
                      -->
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="./#sponsors">スポンサー</a>
                      <!--
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="schedule-fullwidth-filterable.html">Schedule Fullwidth</a></li>
                            <li class="menu-item"><a href="schedule-fullwidth-filterable-sidebar.html">Schedule Sidebar</a></li>
                            <li class="menu-item"><a href="schedule-tabs.html">Schedule Tabs</a></li>
                        </ul>
                      -->
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="./#organizers">運営メンバー</a>
                      <!--
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="speaker-grid.html">Speaker Grid</a></li>
                            <li class="menu-item"><a href="speaker-classic.html">Speaker Classic</a></li>
                            <li class="menu-item"><a href="all-speakers-layouts.html">All Speakers Layouts</a></li>
                            <li class="menu-item"><a href="robin-johnson.html">Single Speaker</a></li>
                        </ul>
                      -->
                    </li>
                </ul>
            </div>
            <!-- Begin side menu sidebar -->
            <div class="page_content_wrapper">
                <div class="sidebar_wrapper">
                    <div class="sidebar">

                        <div class="content">

                            <ul class="sidebar_widget">
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
            <!-- End side menu sidebar -->

            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="#"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                    <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                    <li class="google"><a target="_blank" title="Google+" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/tedxvienna"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu -->
