<div id="page_caption" class=""><a name="organizers"></a>
  <div class="page_title_wrapper">
    <div class="standard_wrapper">
      <div class="page_title_inner">
              <h1>運営メンバー</h1>
              <div class="page_tagline">
                運営メンバーは随時募集中です。ぜひ一緒に運営に参加しませんか？<br />
                現在募集中の役割はこちらの記事を参照してください。
              </div>
          </div>
      </div>
  </div>
</div>

<div id="page_content_wrapper" class="">
  <div class="inner">
      <div class="inner_wrapper nopadding">
          <div id="page_main_content" class="sidebar_content full_width nopadding fixed_column">
            <div id="portfolio_filter_wrapper" class="gallery four_cols portfolio-content section content clearfix" data-columns="4">
              {% for org in site.data.organizers %}
                  <div class="element grid classic4_cols">
                    <div class="one_fourth gallery4 static filterable gallery_type animated1" data-id="post-1">
                      <img src="assets/images/organizers/{{ org.id }}.jpg" alt="" /><br />
                      <div style="text-align: center;">
                        {{ org.name }}{% if org.company != "" %}@{{org.company}}{% endif %}
                        <p>
                          {% if org.facebook != "" %}<a href="{{org.facebook}}" target="_blank"><i class="fab fa-facebook-square"></i></a>{% endif %}
                          {% if org.twitter != "" %}<a href="{{org.twitter}}" target="_blank"><i class="fab fa-twitter-square"></i></a>{% endif %}
                          {% if org.github != "" %}<a href="{{org.github}}" target="_blank"><i class="fab fa-github-square"></i></a>{% endif %}
                          {% if org.linkedin != "" %}<a href="{{org.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>{% endif %}
                          {% if org.url != "" %}<a href="{{org.url}}" target="_blank"><i class="fas fa-globe"></i></a>{% endif %}
                        </p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
          </div>

      </div>
  </div>
  <br class="clear" />
</div>
