<div class="one">
  <div class="one_half_bg parallax" style="background-image:url(assets/images/head1.jpg);height:550px;"></div>
  <div class="one_half_bg" style="padding:85px;">
      <h2 class="ppb_title" style="color:#ff2d54;">最新のDevRelに関する知見を学べる唯一無二の機会</h2>
      <div class="page_tagline">
        <p>DevRel/Japan 2021は日本唯一のDevRelに関する日本語カンファレンスです。日本中の最新の開発者向けマーケティングに関する知見、経験を手にする唯一無二のチャンスと言えるでしょう。</p>
        <p>主なテーマはDevRel、開発者コミュニティ、マーケティング、ハッカソン、ライティング、翻訳など多岐に渡ります。開発者向けに製品、サービスを提供する企業にとって、他では手にできない情報が得られることでしょう。</p>
      </div>
      <div class="ppb_header_content">
        <p>

        </p>
      </div>
  </div>
  <br class="clear">
</div>
<div class="one">
  <div class="one_half_bg textright" style="padding:85px;">
      <h2 class="ppb_title" style="color:#ff2d54;">開発者としてのキャリアパスにも</h2>
      <div class="page_tagline">技術力 × マーケティングというキャリアパス</div>
      <div class="ppb_header_content">
        <p>
          DevRelに関わるエバンジェリスト、アドボケイトの多くは開発者として、そのキャリアをはじめています。そしてマーケティングに関する知識を得ることで、DevRelに関わる新しいキャリアパスを歩んでいます。
        </p>
        <p>
          DevRel/Japanに登壇する方たちの多くがエバンジェリスト、アドボケイトになるでしょう。彼らの経験、キャリアに関する話は、あなたの開発者としてのキャリアに大きなヒントを与えてくれるでしょう。
        </p>
      </div>
  </div>
  <div class="one_half_bg parallax" style="background-image:url(assets/images/head2.jpg);height:550px;"></div>
  <br class="clear">
</div>
