<div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:20px;margin-bottom:60px;"><a name="speakers"></a>
    <div class="standard_wrapper">
        <div class="page_content_wrapper">
            <div class="inner">
                <div style="margin:auto;width:100%">
                    <h2 class="ppb_title" style="text-align:center;">モデレータおよびパネリスト</h2>
                    <div class="page_tagline" style="text-align:center;">
                        さらにアナウンス予定です。乞うご期待！
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="ppb_speaker_grid one nopadding ">
        <div class="page_content_wrapper page_main_content sidebar_content full_width fixed_column">
            <div id="157380808945983153" data-columns="4">
                {% for speaker in site.data.speakers %}
                <div class="element grid one_fourth_bg">
                    <a class="speaker_grid_link" href="./speakers/{{ speaker.id }}">
                        <img src="./assets/images/speakers/{{ speaker.id }}.jpg" alt="{{ speaker.name }}" class="">
                        <div class="speaker_info_wrapper">
                            <h4>{{ speaker.name }}</h4>
                            <div class="speaker_desc">{{ speaker.company }}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <br class="clear">
            </div>
        </div>
    </div>
</div>
