<div class="one withsmallpadding ppb_countdown_image parallax withbg " style="background-image:url(upload/27899245542_531ed54fc7_o.jpg);background-position: center top;text-align:center;padding:100px 0 100px 0;color:#ffffff;">
  <div class="overlay_background" style="background:#000000;background:rgb(0,0,0,0.5);background:rgba(0,0,0,0.5);"></div>
  <div class="standard_wrapper">
      <div class="page_content_wrapper">
          <div class="inner">
            <div style="margin:auto;width:100%">
              <h2 class="ppb_title" style="color:#ffffff;;text-align:center;">今すぐ！</h2>
                  <div class="page_tagline" style="color:#ffffff;;text-align:center;">
                    CFPは8月末までオープンしています。この登壇機会をぜひゲットしてください！
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
