<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">


<!-- grandconference/  22 Nov 2019 03:46:25 GMT -->
<head>

    <title>DevRel/Japan 2021</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">

    {% include css.html %}
</head>

<body class="home page-template-default page page-id-350 woocommerce-no-js ppb_enable">

    {% include hidden.html %}
    {% include mobile_menu.html %}
    {{ content }}

    {% include script.html %}
</body>


</html>
