<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">


<!-- grandconference/  22 Nov 2019 03:46:25 GMT -->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:image" content="{{ site.url }}assets/images/group-photo.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:card" content="Summary with Large Image" />
    <meta name="twitter:site" content="@DevRelTokyo" />
    {% include css.html %}
</head>

<body class="home page-template-default page page-id-350 woocommerce-no-js ppb_enable">

    {% include hidden.html %}
    {% include mobile_menu.html %}
    {{ content }}

    {% include script.html %}
</body>


</html>
